# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\schul\OneDrive - HTL Anichstrasse\4AHWII\SWP Rubner Szabolcs\4AHWII_SWP_OP\JavaFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
